<%= form_with(model: @category, local: true) do |form| %>
  <% if @category.errors.any? %>
    <div class="errors">
      <h2><%= pluralize(@category.errors.count, "error") %> prevented this category from being saved:</h2>
      <ul>
        <% @category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>

  <%= form.submit %>
<% end %>
