<h1><%= @category.name %></h1>
<p><%= @category.description %></p>

<hr>

<h2>Tasks to do:</h2>

<% if @category.tasks.any? %>
  <ul>
    <% @category.tasks.each do |task| %>
      <li>
        <strong><%= task.title %></strong>
        <% if task.note.present? %>
          <br>
          <em>Note:</em> <%= task.note %>
        <% end %>
        <br>
        <small>(due <%= task.due_date || "no due date" %>)</small>
        <br>
        <%= link_to "View", category_task_path(@category, task) %> |
        <%= link_to "Edit", edit_category_task_path(@category, task) %> |
        <%= link_to "Delete", category_task_path(@category, task), data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure?"
        } %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No tasks in this category yet.</p>
<% end %>

<%= link_to "+ Add Task", new_category_task_path(@category) %>

<hr>

<%= link_to "Back to Categories", categories_path %>
